<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>CCModifier</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>icon</key>
			<string>HeaderIcon.png</string>
			<key>height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Requieres respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>key</key>
			<string>CCMEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Center Gesture</string>
			<key>footerText</key>
			<string>Swipe Up To Close: Slide all the way up to close the frontmost app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>key</key>
			<string>CCMCCGestureEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>key</key>
			<string>CCMSwipeUpToClose</string>
			<key>label</key>
			<string>Swipe Up To Close</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>key</key>
			<string>CCMDisableGrabber</string>
			<key>label</key>
			<string>Disable Grabber</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Switcher activated</string>
			<key>footerText</key>
			<string>Zoom out: Slide down on the frontmost app page to activate the app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>key</key>
			<string>CCMInSwitcherGestureEnabled</string>
			<key>label</key>
			<string>Zoom out</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Switches</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>bundle</key>
			<string>FlipswitchSettings</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Active Switches</string>
			<key>flipswitchSettingsFile</key>
			<string>/var/mobile/Library/Preferences/com.devDav.CCModifierSwitches.plist</string>
			<key>flipswitchPostNotification</key>
			<string>com.devDav.CCModifier/toggleschanged</string>
			<key>flipswitchNewAreDisabled</key>
			<true/>
			<key>flipswitchEnabledKey</key>
			<string>CCMEnabledSwitches</string>
			<key>flipswitchDefaultEnabled</key>
			<array>
				<string>com.a3tweaks.switch.airplane-mode</string>
				<string>com.a3tweaks.switch.wifi</string>
				<string>com.a3tweaks.switch.location</string>
				<string>com.a3tweaks.switch.rotation-lock</string>
				<string>com.a3tweaks.switch.cellular-data</string>
				<string>com.a3tweaks.switch.3g</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
			<key>key</key>
			<string>CCMSwitchesPerPage</string>
			<key>label</key>
			<string>Switches Per Page</string>
			<key>default</key>
			<string>5</string>
			<key>validTitles</key>
			<array>
				<string>Auto</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
			<key>key</key>
			<string>CCMOpenOnFirstPage</string>
			<key>label</key>
			<string>Open On First Page</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Media Controls</string>
			<key>footerText</key>
			<string>Redesign Media Controls requieres respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>key</key>
			<string>CCMRedesignMediaControls</string>
			<key>label</key>
			<string>Redesign Media Controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
			<key>key</key>
			<string>CCMDoubleTapEnabled</string>
			<key>label</key>
			<string>Double Tap To Switch Slider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
			<key>key</key>
			<string>CCMResetSlider</string>
			<key>label</key>
			<string>Open With Default Slider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.devDav.CCModifier</string>
			<key>PostNotification</key>
			<string>com.devDav.CCModifier/settingschanged</string>
			<key>key</key>
			<string>CCMDefaultSlider</string>
			<key>label</key>
			<string>Default Slider</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>Volume</string>
				<string>Brightness</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>performRespring</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Do you really want to respring?</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
				<key>title</key>
				<string>Respring</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2014 David Klopp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>paypal</string>
			<key>action</key>
			<string>openPayPal</string>
			<key>alignment</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
